.s2c-0 {
  text-align: right;
}

.s2c-1 {
  border-collapse: collapse;
  width: 67pt;
}

.s2c-2 {
  height: 18pt;
}

.s2c-3 {
  height: 18pt;
  width: 67pt;
  font-size: 12pt;
  color: #641766;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: Arial, sans-serif;
  border-top: 0.5pt solid white;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-image: initial;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.s2c-4 {
  border-collapse: collapse;
  width: 98pt;
}

.s2c-5 {
  height: 15.75pt;
}

.s2c-6 {
  height: 15.75pt;
  width: 98pt;
  font-size: 12pt;
  color: #b5176d;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: Arial, sans-serif;
  border-top: 0.5pt solid white;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-image: initial;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.s2c-7 {
  border-collapse: collapse;
  width: 359pt;
}

.s2c-8 {
  width: 77pt;
}

.s2c-9 {
  width: 98pt;
}

.s2c-10 {
  width: 9pt;
}

.s2c-11 {
  height: 20.1pt;
}

.s2c-12 {
  height: 20.1pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: 1pt solid black;
  background: #7030a0;
}

.s2c-13 {
  width: 98pt;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border-top: 1pt solid black;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: none;
  background: #7030a0;
}

.s2c-14 {
  width: 9pt;
}


.s2c-15 {
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border: 1pt solid black;
  background: #7030a0;
}

.s2c-16 {
  height: 18pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #522dd0;
}

.s2c-17 {
  width: 98pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: none;
  background: #522dd0;
}

.s2c-18 {
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #522dd0;
}

.s2c-19 {
  height: 18pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #8971e1;
}

.s2c-20 {
  width: 98pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: none;
  background: #8971e1;
}

.s2c-21 {
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #8971e1;
}

.s2c-22 {
  height: 36pt;
}

.s2c-23 {
  height: 36pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #522dd0;
}

.s2c-24 {
  height: 36pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #8971e1;
}

.s2c-25 {
  height: 16.5pt;
}

.s2c-26 {
  height: 16.5pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #522dd0;
}

.s2c-27 {
  height: 16.5pt;
  width: 77pt;
  font-size: 12pt;
  color: white;
  font-family: Arial, sans-serif;
  border-top: none;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  background: #8971e1;
}
