{
  "logLevel": "debug",
  "printWidth": 250,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["**/*.html", "**/*.htm"],
      "options": {
        "parser": "html",
        "printWidth": 250,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true,
        "singleAttributePerLine": false
      }
    }
  ]
}
