@charset "utf-8";

@import url("../media/css/theme-vars.css");

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  font-family: var(--font-base);
}

body.site {
  border-top: 3px solid var(--link-color);
  background-color: var(--surface-1);
}

a { color: var(--link-color); }

.nav-list > .active > a,
.nav-list > .active > a:hover,
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.btn-primary { background: var(--link-color); }

#flyout_menu_92 { background: var(--surface-color); }

#flyout_menu_92 ul { background: var(--surface-color); }

#flyout_menu_92 a { color: var(--menu-text); }

#flyout_menu_92 .item-wrapper:hover a,
#flyout_menu_92 li.current > .item-wrapper a,
#flyout_menu_92 li.opened > .item-wrapper a {
  color: var(--btn-warning);
}

#flyout_menu_92 li.open { color: var(--btn-warning); }

#flyout_menu_92 li.open,
#flyout_menu_92 li:hover {
  background: var(--background-color);
}

@media screen and (width <= 767px) {
  #flyout_menu_92 .ul-wrapper,
  #flyout_menu_92 ul {
    width: auto;
  }

  #flyout_menu_92.horizontal ul .menu-link {
    width: auto;
  }
}

@media screen and (width >= 768px) {
  #flyout_menu_92 .ul-wrapper,
  #flyout_menu_92 ul {
    width: 250px;
  }

}

#accordion_menu_90 { background: var(--surface-color); }

#accordion_menu_90 a { color: var(--text-color); }

#accordion_menu_90 .item-wrapper:hover a,
#accordion_menu_90 li.current > .item-wrapper a {
  color: var(--tertiary-color);
}

#accordion_menu_90 li.open,
#accordion_menu_90 li:hover {
  background: var(--link-color);
}
